* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}

#map {
    margin: auto;
    height: 50vh;
    width: 70vw;
}

h1, .link {
    text-align: center;
}

.link a {
    font-size: 1.5rem;
    text-decoration: none;
}